#main-info{
    left: 20%;
    display: flex;
    flex-wrap: wrap;
}

#main-info article{
    color:white;
	background:#b3d691;
    width:300px;
	margin:2%;
	padding:1%;
	height:100%;
    text-align:center;
    border: 3px solid #73AD21;
}