html{
  height: 100%;
  margin: 0;
}

body{
    height:100%;
	background:rgb(215, 215, 255);
	max-width:95%;
	margin:auto;
    font-family:Calibri, sans-serif;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -65px;
}

* {
  box-sizing: border-box;
}

.background-wrap{
    position: fixed;
    z-index: -1000;
    top:0;
    left:0;
}

#video-bg-element{
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.author{
    font-style: italic;
}

.logo{
  height:40px;
  width:40px;
}

h1{
	text-align:center;
	color:rgb(150,0,0);
	margin:-10px;
}

section{
	padding:20px 100px;
    text-align:center;
    color:#6B6509;
    width:100%;
}


footer{
    background: #42A5F5;
    color: white;
    line-height: 65px;
    padding: 0 30px;
    padding: auto;
	text-align:center;
}